# Server configuration
SERVER_ADDR=0.0.0.0
SERVER_PORT=8080
MAX_FETCH_LIMIT=100

# Database configuration 
DB_CONNECTION_STRING=mongodb+srv://<username>:<password>@cluster.mongodb.net/?retryWrites=true&w=majority
DB_DATABASE=test
DB_PERMISSION_COLLECTION=permissions
DB_ROLE_COLLECTION=roles
DB_USER_COLLECTION=users
DB_AUDIT_COLLECTION=audits
DB_CREATE_INDEXES=true
DB_AUDIT_ENABLED=false
DB_AUDIT_TTL=0

# JWT
JWT_SECRET=topSecretSecret
JWT_EXPIRATION=3600

# Logging
RUST_LOG=info
RUST_BACKTRACE=1

# Default user
GENERATE_DEFAULT_USER=true
DEFAULT_USER_USERNAME=admin
DEFAULT_USER_EMAIL=admin@opserva.io
DEFAULT_USER_PASSWORD=123456
DEFAULT_USER_ENABLED=true

# OpenAPI
ENABLE_OPENAPI=true
