## File system
.DS_Store
desktop.ini

## Editor
*.swp
*.swo
Session.vim
.cproject
.idea
*.iml
.vscode
.project
.favorites.json
.settings/
.vs/

## Tool
.valgrindrc
.cargo

## Build
/target

## Env
/.env
.env
